In [1]:
import pymysql
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

conn=pymysql.connect(host='db',port=int(3306),user='root',passwd='slopeza',db='dataset')

df=pd.read_sql_query("SELECT * FROM covidcases ",conn)
print(df)

pandas.core.frame.DataFrame

In [ ]:
import seaborn as sns
sns.set_style('darkgrid')
sns.set_palette('viridis')

In [ ]:
pd.set_option("display.max.columns", None)
df.head()

In [ ]:
df1=pd.read_sql_query("SELECT state, SUM(cases) totalcases FROM covidcases GROUP BY state ORDER BY totalcases ASC",conn)
print(df1)

In [ ]:
df2=pd.read_sql_query("SELECT state, AVG(deaths) promdeaths FROM covidcases GROUP BY state ORDER BY promdeaths ASC",conn)
print(df2)

In [ ]:
sns.barplot(data=df1,x='state',y='totalcases')
plt.xticks(rotation=90);

In [ ]:
sns.lineplot(data=df2,x='state',y='promdeaths')
plt.xticks(rotation=90);

In [ ]:
df3=pd.read_sql_query("SELECT state, SUM(cases) totalcases FROM covidcases GROUP BY state ORDER BY totalcases DESC LIMIT 10",conn)
print(df3)

In [ ]:
sns.barplot(data=df3,x='state',y='totalcases')
plt.xticks(rotation=90);